# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# HuggingFace
.cache/

# Project Data & Logs
data/hf_cache/
data/generated/
data/predictions/
# Keep splits and master table if you want to version control them, 
# but usually data is too big.
data/master_table.jsonl
data/supervised/
logs/
*.log

# IDE
.vscode/
.idea/
